In [1]:
import numpy as np
import pandas as pd
from sklearn.preprocessing import StandardScaler, MinMaxScaler

In [2]:
df = pd.read_csv("data/train.csv")
df

             5 Minutes  Lane 1 Flow (Veh/5 Minutes)  # Lane Points  % Observed
0      04/01/2016 0:00                           12              1         100
1      04/01/2016 0:05                           13              1         100
2      04/01/2016 0:10                           11              1         100
3      04/01/2016 0:15                           13              1         100
4      04/01/2016 0:20                           10              1         100
...                ...                          ...            ...         ...
7771  29/02/2016 23:35                           19              1         100
7772  29/02/2016 23:40                            6              1         100
7773  29/02/2016 23:45                           14              1         100
7774  29/02/2016 23:50                           11              1         100
7775  29/02/2016 23:55                           10              1         100

[7776 rows x 4 columns]

In [5]:

attr = 'Lane 1 Flow (Veh/5 Minutes)'
scaler = MinMaxScaler(feature_range=(0, 1)).fit(df[attr].values.reshape(-1, 1))
flow = scaler.transform(df[attr].values.reshape(-1, 1)).reshape(1, -1)[0]
flow

array([0.06091371, 0.06598985, 0.05583756, ..., 0.07106599, 0.05583756,
       0.05076142])